@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
}

.hero {
  background-image: radial-gradient(125% 125% at 50% 0%, #121315 60%, #00ffa2);
}

.about {
  background-image: radial-gradient(
    125% 125% at 50% 100%,
    #121315 60%,
    #00ffa2
  );
}

.button {
  width: 100px;
  height: 40px;
  border-radius: 24px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.slider {
  position: relative;
  width: 100%;
  height: 100%;
}
.element {
  width: 100%;
  height: 100%;
  background: #37eba9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #121315;
  text-transform: uppercase;
}
.element:nth-child(2) {
  position: absolute;
  top: 100%;
  background: black;
  color: white
}
